/* body */
body{
    margin: 0;
}

/* Style pour le header */
header {
    width: 100%;
}

/* Premeire partie du header*/
.topHeader {
    position: relative;
    height: 100%;
}

.topHeader img {
    position: absolute;
    top: 50%;
    left: 1%;
    width: 5%;
}

.topHeader button {
    position: absolute;
    top: 50%;
    right: 1%;
}

/* Deuxieme partie du header*/
.bottomHeader {
    text-align: center;
}

.bottomHeader img {
    display: block;
    margin: 0 auto;
    width: 25%; 
}

/* Titre et liens */
.title{
    width: 100%;
}

/* liens */
.link button{
    text-align: center;
    justify-content: space-around;
}


/* Responsive entre 900px et 1200px */
@media (min-width: 900px)  and (max-width:1199px) {
  article{
    min-width:20%;
    max-width: 40%;
    margin:5%;
    display: float;
    float:left;
  }
  article:last-child{
   margin-left:30%;
  }
}

/* Responsive pour les + de 1200px */
@media (min-width: 1200px) {
    article{
        max-width: 28%;
        margin:2.5%;
        display: float;
        float:left;
      }
    
}