/* ----- Body ----- */
body {
    margin: 0;
}

header, .title, .Grille {
    width: 100%;
    margin-top: 3%;
}

/* ----- Style pour le header ----- */
.topHeader {
    position: relative;
    height: 100%;
}

.topHeader img {
    position: absolute;
    top: 50%;
    left: 1%;
    width: 5%;
    transform: translateY(-50%);
}

.topHeader button {
    position: absolute;
    top: 50%;
    right: 1%;
    width: 5%;
    transform: translateY(-50%);
    display: block;
}

/* ----- Deuxième partie du header ----- */
.bottomHeader {
    text-align: center;
}

.bottomHeader img {
    display: block;
    margin: 0 auto;
    width: 25%;
}

/* ----- Titre et liens ----- */
.title {
    text-align: center;
    margin-bottom: 3%;
}

/* ----- Conteneur pour les boutons ----- */
.link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 2%; 
    padding: 1% 5%;
    box-sizing: border-box;
}

/* ----- Boutons dans link ----- */
.link button {
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
}

/* ----- Style général pour chaque article ----- */
.Grille div article {
    position: relative;
    width: 90%; 
    margin: 2% auto;
    padding: 2%;
    background-color: #e0e0e0; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
}

/* ----- Style de l'image en haut à gauche ----- */
.Grille div article img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20%; 
    height: auto;
}

/* ----- Style du texte ----- */
.Grille div article p {
    margin-left: 25%; 
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
    color: #333; 
}

/* ----- Responsive pour écran > 700px  ----- */
@media (min-width: 700px) {
    .topHeader button {
        display: none; 
    }
}

/* ----- Responsive pour écran > 900px ----- */
@media (min-width: 900px) {
    .Grille {
        width: 80%;
        margin: 0 auto;
    }

    .Grille div {
        display: inline-block;
        width: 45%;
        margin: 1%;
        vertical-align: top;
        box-sizing: border-box;
    }

    .Grille div:nth-child(3) {
        display: block;
        width: 60%; 
        margin: 2% auto;
    }
}

/* ----- Responsive pour écran > 1200px ----- */
@media (min-width: 1200px) {
    .Grille div {
        display: inline-block;
        width: 30%;
        margin: 1%;
        vertical-align: top;
        box-sizing: border-box;
    }
}
