body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    padding: 1rem;
    text-align: center;
    background-color: #9dd8e2;
}

/* ----- Si l'ecran est superieur a 800px, alors le header s'affiche ----- */
@media screen and (max-width: 800px) {
    header {
        display: none;
    }
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #9dd8e2;
    display: none;
}

/* ----- Le footer s'affiche que lors de l'impression ----- */
@media print {
    footer {
        display: block;
    }
}

.container {
    display: block;
    text-align: center;
}

.text-box {
    margin: 10rem 1rem;
    padding: 1rem;
    background-color: #00c3ff;
    width: 70%;
}

/* ----- Si l'ecran est plus grand ou egal a 640px, les deux containers se mettent un a cote de l'autre sinon ils sont un en dessous de l'autre ----- */
@media screen and (min-width: 640px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .text-box {
        display: inline-block;
        width: 35%; 
        vertical-align: top;
    }
}
